# SPDX-License-Identifier: GPL-2.0-only
#
# Wistron drivers configuration
#

config CPLD_SYSFS
	tristate "Wistron CPLD sysfs library"
	depends on I2C
	select WISTRON
	help
	  If you say yes here you get sysfs library for WISTRON CPLD.

config WISTRON_CPLD
	tristate "Wistron CPLD"
	depends on CPLD_SYSFS
	select WISTRON
	help
	  If you say yes here you get CPLD support WISTRON.

	  This driver can also be built as a module. If so, the module will
	  be called wistron_cpld.

config WISTRON
	tristate
