[Unit]
Description=Check And Create A IPMI Dummy %I FRU
Before=xyz.openbmc_project.EntityManager.service
ConditionPathExists={envfiledir}/obmc/ipmi-dummy-fru/fruid_%I.conf
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
EnvironmentFile={envfiledir}/obmc/ipmi-dummy-fru/fruid_%I.conf
ExecStart=/usr/local/bin/ipmi-dummy-fru %I $BUS $ADDRESS
SyslogIdentifier=ipmi-dummy-fru
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=10

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
